@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

#root {
    height: 100vh;
    /* font-family: "Playfair Display", serif; */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
