@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

#root {
    height: 100vh;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, a, p, button {
}

a, button {
    font-weight: 600;
}

h1 {
     font-style: bold;
     font-weight: 600;
}


p {
     font-weight: 400;
}

.full-page-container {
    height: 100vh; /* Ensure container takes full viewport height */
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
}

.page {
    height: 100vh; /* Each page takes full viewport height */
    scroll-snap-align: start; /* Snap to the start of each page */
    display: flex; /* For centering content, if desired */
    justify-content: center;
    align-items: center;
    /* Add background colors or images for visual distinction */
}
