@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@layer utilities {
  .bg-hero {
    background-image: url("/hero.png");
  }
  .font-heading {
    font-family: "Playfair Display", serif;
  }
  .font-body {
    font-family: "Inter", serif;
  }
  .full-page-container {
    height: 100vh; /* Ensure container takes full viewport height */
    overflow-y: scroll;
    scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
  }

  .page {
      height: 100vh; /* Each page takes full viewport height */
      scroll-snap-align: start; /* Snap to the start of each page */
    }
    
  .bg-secondary {
    background-color: #EC4899 ;
  }

  .text-secondary {
    color: #F472B6;
  }
}



:root {
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: #FFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #0000;
  }
  button {
    background-color: #f9f9f9;
  } */
}
